{{- $machineType := promptStringOnce . "machineType" "Machine type (personal/work)" -}}
{{ if  eq .chezmoi.os "linux" }}
  {{- $linuxEnv := promptStringOnce . "linuxEnv" "Execute Linux Environment" " (native-ubuntu/wsl-ubuntu/proot-ubuntu/termux)" -}}
{{ else }}
  {{ $linuxEnv := "false" }}
{{ end }}

[data]
  personal = {{ eq $machineType "personal" }}
  work = {{ eq $machineType "work" }}
  native-ubuntu = {{ eq $linuxEnv "native-ubuntu" }}
  wsl-ubuntu = {{ eq $linuxEnv "wsl-ubuntu" }}
  proot-ubuntu = {{ eq $linuxEnv "proot-ubuntu" }}
  termux = {{ eq $linuxEnv "termux" }}

[edit]
  command = "nvim"

[protonPass]
  command = "pass-cli"

