{{- $machineType := promptStringOnce . "machineType" "Machine type (personal/work)" -}}

{{- $linuxEnv := "false" -}}
{{- if eq .chezmoi.os "linux" -}}
  {{- $linuxEnv = promptStringOnce . "linuxEnv" "Execute Linux Environment (native-ubuntu/wsl-ubuntu)" -}}
{{- else if eq .chezmoi.os "android" -}}
  {{- $linuxEnv = promptStringOnce . "linuxEnv" "Execute Linux Environment (termux/qemu-ubuntu/proot-ubuntu)" -}}
{{- end -}}

[data]
  personal = {{ eq $machineType "personal" }}
  work = {{ eq $machineType "work" }}
  {{ if ne $linuxEnv "false" -}}
  linuxEnv = true
  {{ else -}}
  linuxEnv = false
  {{ end -}}
  nativeUbuntu = {{ eq $linuxEnv "native-ubuntu" }}
  wslUbuntu = {{ eq $linuxEnv "wsl-ubuntu" }}
  termux = {{ eq $linuxEnv "termux" }}
  qemuUbuntu = {{ eq $linuxEnv "qemu-ubuntu" }}
  prootUbuntu = {{ eq $linuxEnv "proot-ubuntu" }}

[diff]
  exclude = [
    "externals",
    "scripts"
  ]

[edit]
  command = "nvim"

[protonPass]
  command = "pass-cli"

